# {{ ansible_managed }}
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
network.host: {{ elasticsearch_network_host }}
#
# Set a custom port for HTTP:
#
http.port: {{ elasticsearch_http_port }}
