cluster.name: {{ es_cluster_name }}
node.name: {{ es_node_name }}
node.master: true
node.data: true
transport.host: {{ es_transport_host }}
transport.tcp.port: {{ es_transport_port}}
http.port: {{ es_http_port }}
network.host: {{ es_network_host }}
